h1 {
    font-weight: bold;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1px;
}
address {
    text-align: center; 
}
div {
    border-color: brown;
    border-style: solid;
    border-top-width: 2px;
    border-right-width: 1px;
    border-bottom-width: 2px;
    border-left-width: 1px;
    background-color: white;
}
article {
    width: 40rem;
    margin: 0 auto;
}
body {
    background-color:bisque;
    margin: 0;
    padding: 0;
    position: relative;
}
section {
    display: flex;
    justify-content:space-around;
    flex-basis: 10%;
    flex-wrap: row nowrap;
    list-style-type: none;
}
strong {
    font-weight: bolder;
}
.em1 {
    text-decoration: underline;
    color:blueviolet;
}
.heading1 {
    margin-left: 20px;
    margin-bottom: 0px;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}
.para1 {
    margin-left:20px;
    margin-right:20px;
    font-family: 'Times New Roman', Times, serif;
}
hr {
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    border-style: solid;
    border-color:red;
    border-width: 2px;
}
.heading2 {
    margin-left: 20px;
    margin-bottom: 0px;
    color: brown;
    font-family:'Times New Roman', Times, serif;
}
.para2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}
.ul2 {
    margin-left: 40px;
    margin-right: 20px;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:red;
    margin-bottom: 1px;
}
.art1 {
    margin-top: 30px;
    background-color: white;
}
.watermark-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 0;
    opacity: 0.4;
    display: flex;
    font-size: 1.5rem;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color: green;
    text-align: center;
    width: 100%;
    pointer-events: none;
}
.watermark {
    margin: 10px 0;
    color: green;
}
.para3 {
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 1px;
    font-weight: bold;
}
.ul3  {
    margin-left: 40px;
    margin-top: 0;
}
.sect1 {
    display: flex;
    justify-content:space-between;
    flex-basis: 10%;
    flex-wrap: row nowrap;
    margin-left: 20px;
}
/* medial query for mobile responsiveness */
@media screen and (max-width:480px) {
    h1 {
        font-weight: bold;
        text-align: center;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-bottom: 1px;
    }
    address {
        text-align: center; 
    }
    div {
        border-color: brown;
        border-style: solid;
        border-top-width: 2px;
        border-right-width: 1px;
        border-bottom-width: 2px;
        border-left-width: 1px;
        background-color: white;
    }
    article {
        width: 375px;
        /* height: 667px; */
        margin: 0 auto;
    }
    body {
        background-color:bisque;
        margin: 0;
        padding: 0;
        position: relative;
    }
    section {
        display: flex;
        justify-content:space-around;
        flex-basis: 10rem;
        flex-wrap: row nowrap;
        list-style-type: none;
    }
    strong {
        font-weight: bolder;
    }
    .em1 {
        text-decoration: underline;
        color:blueviolet;
    }
    .heading1 {
        margin-left: 1.2rem;
        margin-bottom: 0rem;
        color: brown;
        font-family: 'Times New Roman', Times, serif;
    }
    .para1 {
        margin-left:1.2rem;
        margin-right:1.2rem;
        font-family: 'Times New Roman', Times, serif;
    }
    hr {
        margin-left: 1rem;
        margin-right: 1rem;
        border: none;
        border-style: solid;
        border-color:red;
        border-width: 2px;
    }
    .heading2 {
        margin-left: 1.2rem;
        margin-bottom: 0rem;
        color: brown;
        font-family:'Times New Roman', Times, serif;
    }
    .para2 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
    .ul2 {
        margin-left: 2.5rem;
        margin-right: 1.2rem;
    }
    h3 {
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        color:red;
        margin-bottom: 1px;
    }
    .art1 {
        margin-top: 2rem;
        background-color: white;
    }
    .watermark-container {
        position: fixed;
        top: 50rem;
        left: 50rem;
        transform: translate(-50rem, -50rem) rotate(-45deg);
        z-index: 0;
        opacity: 0.4;
        display: flex;
        font-size: 1.5rem;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        color: green;
        text-align: center;
        width: 100rem;
        pointer-events: none;
    }
    .watermark {
        margin: 1rem 0;
        color: green;
    }
    .para3 {
        margin-left: 2.5rem;
        margin-right: 1.2rem;
        margin-bottom: 1px;
        font-weight: bold;
    }
    .ul3  {
        margin-left: 2.5rem;
        margin-top: 0;
    }
    .sect1 {
        display: flex;
        justify-content:space-between;
        flex-basis: 10rem;
        flex-wrap: row nowrap;
        margin-left: 1.2rem;
    }
}
